<section class="cards">
    <h1 class="cards__title">Ты сегодня покормил кота?</h1>
    <div class="cards__wrap">
        <div 
            class="cards__item-wrap" 
            v-for="(card, index) in cards"
            :id="'card-' + index"
            :class="{disabled: card.disabled}"
            >
            <div class="cards__item" @click="checkActivity(index, card.disabled)">
                <p class="cards__top-note">{{ card.topNote }}</p>
                <p class="cards__top-note-hover">{{ card.topNoteHover }}</p>
                <h2 class="cards__product-title">
                    <span>{{ card.productTitle }}</span><br> {{ card.productTitleDesc }}
                </h2>
                <p class="cards__product-bonus">
                    <span v-html="card.bonusFirst"></span>
                    <span v-html="card.bonusSecond"></span>
                </p>
                <div class="cards__product-quantity">
                    <span>{{ card.productQuantity }}</span><br> кг
                </div>
            </div>
            <div class="cards__call-action" @click="checkActivity(index)" v-html="card.callAction"></div>
            <div class="cards__product-info">{{ card.productInfo }}</div>
            <div class="cards__product-inactive">{{ card.productInactive }}</div>
        </div>
    </div>
</section>